# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment / secrets
.env
.env.*
!.env.example

*.pem
*.key
*.crt

# CSV datasets - NEVER commit
*.csv
**/*.csv

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build
build/
dist/
*.egg-info/

# Streamlit secrets
.streamlit/secrets.toml

# =========================
# SSH tokens
# =========================

.yes
*.pub
yes