altair
accelerate
anyio
fastapi
GitPython
google-generativeai
huggingface_hub
ipython
ipykernel
langchain
langgraph
langsmith
numpy
pandas      
pillow
pyarrow
pydantic-settings
python-dotenv
qdrant-client
scikit-learn
scipy
sentence-transformers
SQLAlchemy
streamlit
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
tqdm
transformers
uvicorn
