altair
accelerate
anyio
faiss-gpu
fastapi
GitPython
google-generativeai
huggingface_hub
ipython
langchain
langgraph
langsmith
numpy
pandas      
pillow
pydantic-settings
python-dotenv
scikit-learn
scipy
sentence-transformers
SQLAlchemy
streamlit
torch
transformers
uvicorn
torchvision
torchaudio